/sources/
/antlr.jar
/asm.jar
/baselib.jar
/c3p0.jar
/cglib.jar
/commons-beanutils.jar
/commons-cli.jar
/commons-codec.jar
/commons-collections.jar
/commons-configuration.jar
/commons-digester.jar
/commons-io.jar
/commons-lang.jar
/commons-logging.jar
/commons-validator.jar
/data-hibernate.jar
/data.jar
/dom4j.jar
/hibernate-c3p0.jar
/hibernate-commons-annotations.jar
/hibernate-core.jar
/hibernate-entitymanager.jar
/hibernate-jpa-2.0-api.jar
/howl.jar
/hsqldb.jar
/i18n.jar
/javassist.jar
/jboss-logging.jar
/jboss-transaction-api_1.1_spec.jar
/jotm-core.jar
/log-api.jar
/log4j.jar
/mchange-commons-java.jar
/mysql-connector-java.jar
/ow2-connector-1.5-spec.jar
/ow2-jta-1.1-spec.jar
/persistence-api.jar
/slf4j-api.jar
/slf4j-log4j12.jar
